<html lang="en">

<head>
  <title>Book Management</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  <!--My JS -->
  <script src="book.js"></script>
</head>

<body ng-app="bookModule">
  <div ng-controller="bookCtrl">
    <md-toolbar>
      <h3>Book Management</h3>
    </md-toolbar>
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Rating</th>
      </thead>
      <tbody>
        <tr ng-repeat="books in bookData | filter:byParameter">
          <td align="center">
            <div ng-hide="isEditing[books.id]">{{books.id}}</div>
            <div ng-show="isEditing[books.id]"><input type="text" ng-model="books.id" /></div>
          </td>
          <td>
            <div ng-hide="isEditing[books.id]">{{books.name}}</div>
            <div ng-show="isEditing[books.id]"><input type="text" ng-model="books.name" /></div>
          </td>
          <td align="center">
            <div ng-hide="isEditing[books.id]">{{books.author}}</div>
            <div ng-show="isEditing[books.id]"><input type="text" ng-model="books.author" /></div>
          </td>
          <td align="center">
            <div ng-hide="isEditing[books.id]">{{books.rating}}</div>
            <div ng-show="isEditing[books.id]">
              <md-content>
                <div>
                  <md-input-container>
                    <label>Rating</label>
                    <md-select ng-model="books.rating">
                      <md-option ng-repeat="rate in levels" value="{{rate.abbrev}}">
                        {{rate.abbrev}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
              </md-content>
            </div>
          </td>
          <td align="center">
            <md-button class="md-raised md-primary" md-no-ink ng-hide="isEditing[books.id]" ng-click="edit(books)">Edit</md-button>
            <md-button class="md-raised md-primary" md-no-ink ng-show="isEditing[books.id]" ng-click="save(books); saveLocalStorage()">Save</md-button>
            <md-button class="md-raised md-primary" md-no-ink ng-click="delete($index); saveLocalStorage()">Delete</md-button>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <td>
          <input type="text" value="ID" placeholder="ID" ng-model="inputID" />
        </td>
        <td>
          <input type="text" value="Name" placeholder="Name" ng-model="inputName" />
        </td>
        <td>
          <input type="text" value="Author" placeholder="Author" ng-model="inputAuthor" />
        </td>
        <td>
          <!--<input type="text" value="Author" placeholder="Rating" ng-model="inputRating" />-->
          <md-content>
            <div>
              <md-input-container>
                <label>Rating</label>
                <md-select ng-model="inputRating">
                  <md-option ng-repeat="rate in levels" value="{{rate.abbrev}}">
                    {{rate.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
          </md-content>
        </td>
        <td>
          <md-button class="md-raised md-primary" md-no-ink ng-click="add(); saveLocalStorage()">Add</md-button>
        </td>
      </tfoot>
    </table>
    <div>
      <input class="form-control" id="" ng-model="byParameter" type="text" placeholder="Search for..." />
    </div>
  </div>
</body>

</html>